/* Shared Styles */


#bg-color{
background-color: black;
color: white;
}
/* Starting of the styles of nav section */
.First_part{
      background: linear-gradient(0.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    font-family: sans-serif;
  }
/* navbar styles */
.main-topic{
    font-family:Inter;
    color: rgb(230, 83, 60);
    /*font-size: 3.2vw;*/
    font-size: 3.2rem;
    font-weight: bolder;
    /*height: 46px;*/

}
nav ul li{
    list-style: none;
    /*font-size: 2vw;*/
    font-size: 2rem;
    margin-right: 30px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 190px;
    margin-right: 190px;
}
#items{
    margin-top: 65px;
    display: flex;
    border: 1px solid #2a2a2a;
    padding-left: 4px;
    padding-top:2px;
    border-radius: 43px;
    font-weight: 500;
}
.menu-items{

}
.navbar{
    /*color: white;*/
}
.submit{
background-color: rgb(8, 8, 8);
    border-color: transparent;
    margin-top: 32px;
}
.icon{
    display: none;
}
.home{
    padding: 6px 20px;
    background: rgb(230, 83, 60);
    border-radius: 35px;
    color: white;
    font-weight: bold;
}
.alignment{
    padding: 4px;
}
/* Finishing of the styles of nav section */
/*Starting the Section for the Navbar Responsiveness for Mobile */
@media screen and (max-width: 576px){
    #items{
        display: none;
    }
    .main-topic {
        font-family:Inter;
        color: rgb(230, 83, 60);
        font-size: 36px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        margin: 52px 20px;
    }
    .icon{
        display: contents;
    }

}
/*Finishing the Section for the Navbar Responsiveness for Mobile */
/*Starting the Section for the banner styles */
/*banner description section*/
.banner-description{
    margin-top: -30px;
    margin-left: 190px;
    text-align: left;
    max-width: 520px;
}
.banner-title{
    font-size: 3.4rem;
    font-weight: bolder;
    line-height: 105px;
    margin-bottom: 0px;
    font-family: sans-serif;
}
.special_font{
    font-family : Miama , sans-serif;
    font-style: italic;
    font-weight: 100;
}
.banner-title_descriptiption{
    font-size: 1rem;
    font-weight: normal;
    opacity: 0.5;
}
.btn-primary{
    margin-top: 44px;
    background: rgb(230, 83, 60);
    border-color: rgb(230, 83, 60);
    border-radius: 100px;
    padding: 16px 40px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.btn{
    margin-top: 44px;
    margin-left: 10px;
    background: black;
    border-color: white;
    border-radius: 100px;
    padding: 16px 40px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
/*banner Image section*/
.banner-image{
    margin-left: 240px;
}
.btn-sec{
    color: white;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(-450px) translateX(240px);
}
.image_top-title{
    font-size: 40px;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-right: 40px;
    padding-left: 28px;
    /*line-height: 1;*/
}
.image_top-title-desc{
    font-size: 13px;
    font-weight: 400;
    opacity: 0.6;
    margin-top: 0;
    padding-left: 5px;
}
.btn-third{

    color: white;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(-160px) translateX(-280px);
}
.circle{
    background-color: rgb(230, 83, 60);
    border-radius: 100px;
    display: flex;
    transform: translateY(25px) translatex(20px);

}
.image_bottom-title{
    font-size: 20px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 0px;
    line-height: 0;
}
.image_bottom-title-desc{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
    padding-right: 10px;
    padding-left: 60px;
    margin-top: 15px;

}
#banner{
    display: flex;
    }
/* banner section finished */
@media screen and (max-width: 576px){
    /*    Responsiveness of the banner part*/
    .banner-description{
        /*margin-top: 50px;*/
        margin-left: 20px;
        text-align: left;
    }
    .banner-title{
        font-size: 2rem;
        font-weight: bolder;
        line-height: 60px;
        font-family: sans-serif;
    }
    #banner{
        display: grid;
    }
    .banner-image{
       margin-left: 100px;
        margin-top: 47px;
        margin-right: 20px;
    }
    .btn-sec{
        transform: translateY(-510px) translatex(190px);

    }
    .image_top-title {
        font-size: 30px;
        font-weight: 900;
        margin-top: 12px;
        margin-bottom: 0px;
        padding-right: 30px;
        padding-left: 10px;
    }
    .image_top-title-desc{
        padding-left: 20px;
        padding-right: 10px;
    }
    .btn-third{
        transform: translateY(-330px) translatex(-200px);
    }
    .hide{
        display: none;
    }
    .btn-primary{
        font-size: 22px;
        font-family: sans-serif;
        padding-left: 65px;
        padding-right: 65px;
        margin-left: 10px;
    }
    .btn{
        font-size: 22px;
        font-family: sans-serif;
        margin-right: 10px;
    }
}
/* Completion of Responsiveness of the banner part*/
/*Starting of css change your habits Section*/
.habits{
    margin-left: 185px;
    margin-right: 185px;

}
/*.habits_details{*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
.habits-Title{
    font-size: 3.6rem;
    font-weight: bolder;
    font-family: sans-serif;
    margin-left: 280px;
    margin-right: 280px;


}
.habits-title_desc{
    font-family: sans-serif;
    font-size: 1.15rem;
    opacity: 0.3;
    font-weight: 500;
    margin-bottom: 100px;
    margin-left: 180px;
    margin-right: 180px;
}
.habits_details{
    text-align: center;
}
.habits_image{
    display: flex;
    justify-content: space-around;
}
.habits_images{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
}
.image{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.habits_image-desc{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.images-title{
    /*margin-left: 100px;*/
    text-align: center;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 0px;
    margin-right: 20px;
    margin-top: 50px;
}
.images_description{
    text-align: center;
    justify-content: space-around;
    font-size: 1.1rem;
    font-weight: 100;
    opacity: 0.3;
    line-height: 20px;
    margin-top: -10px;
    margin-right: 20px;
}
/*Finishing of css change your habits Section*/
/*Responsive for Change your habits section*/
@media screen and (max-width: 576px){
    .habits_section{
        transform: translateY(-20px);
    }
    .habits{
        margin-left: 20px;
        text-align: left;
        margin-right: 20px;
    }
    .habits-Title{
        margin-left: 0px;
        text-align: center;
        margin-right: 0px;
        font-size: 32px;
        font-family: sans-serif;
    }
    .habits-title_desc{
        margin-left: 35px;
        margin-right: 35px;
    }
    .habits_image{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .habits_images{
        margin-bottom: 200px;
    }
    .habits_image-desc{
        display: grid;
        transform: translateY(-1350px) translateX(10px);
    }
    .images_description{
        margin-right: 110px;
        margin-left: 110px;
    }
}
/*Finished Responsive for Change your habits section*/
/*Starting Css for Run an Extra mile easily Section*/
.Run_Easily{
    border: 1px solid black;
    border-radius: 20px;
    background: rgb(34, 34, 34);
    margin-right: 190px;
    margin-left: 190px;
    padding-left: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;

}
.second_sec-Title{
    font-size: 3rem;
    font-weight: bolder;
    text-align: left;

}
.second_sec_Title-Desc{
    font-size: 1rem;
    font-weight: normal;
    opacity: 0.3;
    text-align: left;
    line-height: 25px;
    margin-bottom: 0px;
}
.running{
    /*padding: 25px 20px;*/
    margin-left: 210px;
    border: 1px solid black;
    border-radius: 25px;
    margin-right: 40px;

}
/*Finishing Css for Run an Extra mile easily Section*/