/* Shared Styles */

#bg-color{
background-color: black;
color: white;
}
/* Starting of the styles of nav section */
.First_part{
      background: linear-gradient(0.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
  }
/* navbar styles */
.main-topic{
    font-family:Inter;
    color: rgb(230, 83, 60);
    /*font-size: 3.2vw;*/
    font-size: 3.2rem;
    font-weight: bolder;
    /*height: 46px;*/

}
nav ul li{
    list-style: none;
    /*font-size: 2vw;*/
    font-size: 2rem;
    margin-right: 30px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 57px 190px;
}
#items{
    margin-top: 65px;
    display: flex;
    border: 1px solid #2a2a2a;
    padding-left: 4px;
    padding-top:2px;
    border-radius: 43px;
    font-weight: 500;
}
.menu-items{

}
.navbar{
    /*color: white;*/
}
.submit{
background-color: rgb(8, 8, 8);
    border-color: transparent;
    margin-top: 32px;
}
.icon{
    display: none;
}
.home{
    padding: 6px 20px;
    background: rgb(230, 83, 60);
    border-radius: 35px;
    color: white;
    font-weight: bold;
}
.alignment{
    padding: 4px;
}
/* Finishing of the styles of nav section */
/*Starting the Section for the Navbar Responsiveness for Mobile */
@media screen and (max-width: 576px){
    #items{
        display: none;
    }
    .main-topic {
        font-family: Inter;
        color: rgb(230, 83, 60);
        font-size: 36px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        margin: 52px 20px;
    }
    .icon{
        display: contents;
    }
}
/*Finishing the Section for the Navbar Responsiveness for Mobile */